:root{
    --muted-text:#909090;
    --white-text: white;
}
/* reset */
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    padding: 10px 20px;
}
/* utils */
.container{
    max-width: 900px;
    margin: 0 auto;
}

/* header */
.page-header > .container{
    display: flex;
    justify-content: space-between;
}

.page-header-right{
    display:flex
}

/* main */
main>.container{
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    background-color: blueviolet;
    padding: 20px;
    width: calc(100% / 3 - 1rem * 2 / 3);
    min-width: 200px;
    flex-grow: 1;
}

.card-offer-price,.card-offer-list-properties{
    text-align: center;
}
.card-offer-list-properties{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: left;
}

ul{
    list-style:none;
}